BUILD_ENV = development
PRODUCT_NAME = EDLearn
APP_PRODUCT_BUNDLE_IDENTIFIER = com.muiz.idn.EDLearn
CODE_SIGN_IDENTITY = iPhone Developer
DEVELOPMENT_TEAM = SDSLU2QT5X
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) DEVELOPMENT
PROVISIONING_PROFILE_SPECIFIER = match Development $(PRODUCT_BUNDLE_IDENTIFIER)